---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Header_image from '../components/Header_image.astro';
---

<Layout 
	title="Amber"
	description="a"
	>
	<main>
		<Header_image />
	</main>
</Layout>
