---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Header_image from '../components/Header_image.astro';
import Hero from '../components/Hero.astro';
import Bento from '../components/Bento.astro';
import Hr from '../components/Hr.astro';
import AboutMe from '../components/AboutMe.astro';
import Products from '../components/Products.astro';
---

<Layout 
	title="Amber"
	description="a"
	>
	<main>
		<Header_image />
		<Hr />
		<Hero />
		<Hr />
		<Products />
		<!-- <AboutMe /> -->
	</main>
</Layout>
