---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Header_image from '../components/Header_image.astro';
import Hero from '../components/Hero.astro';
import Bento from '../components/Bento.astro';
---

<Layout 
	title="Amber"
	description="a"
	>
	<main>
		<Header />
		<Header_image />
		<Hero />
	</main>
</Layout>
