---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Header_image from '../components/Header_image.astro';
import Hero from '../components/Hero.astro';
import Bento from '../components/Bento.astro';
import Hr from '../components/Hr.astro';
import AboutMe from '../components/AboutMe.astro';
import Products from '../components/Products.astro';
---

<Layout 
	title="Amber"
	description="a"
	>
	
	<img 
		class="object-cover w-screen h-[575px] "
		src="../../public/img/r1.jpg" 
		alt="Imagen de modelo"
	>
	<main class="w-[320px] movil-l:w-[425px] tablet:w-[700px] laptop:w-[1024px]">
		<Header_image />
		<Hr />
		<Hero />
		<Hr />
		<Products />
		<!-- <AboutMe /> -->
	</main>
</Layout>
