
<hr class="mx-auto my-6 bg-zinc-900 max-w-[0px] laptop:max-w-[1200px] h-px">
<footer class="flex  justify-between text-center text-lg laptop:px-10 h-6">
    
    <div class=" mx-auto mt-5 text-sm">
        <a href="#">Inicio</a>
        <a href="#">Contacto</a>
    </div>
    <div class="mx-auto mt-5 text-sm">
        <p>&copy; 2024 AMBeR.</p>
    </div>
</footer>
<!-- <div class="mt-5">
    <h3>Contacto</h3>
    <p>123 Calle de las Joyas, Ciudad, Estado, Código Postal</p>
    <p>Teléfono: 123-456-7890</p>
    <p>Correo electrónico: info@tusitiojoyero.com</p>
</div> -->
<style>
    footer a:hover {
        color: #0800ff;
    }
    a{
        text-decoration: none;
        margin-right: 20px;
        transition: color .8s;
    }
</style>
