
<footer class="flex justify-between text-center text-sm mx-2 movil-l:mx-3 tablet:mx-4  laptop:px-5 h-6">
    
    <div class="  mt-5 text-sm laptop:text-xl">
        <a href="#">Inicio</a>
        <a href="#">Contacto</a>
    </div>
    <div class=" mt-5 text-sm laptop:text-xl">
        <p>&copy; 2024 AMBeR.</p>
    </div>
</footer>
<!-- <div class="mt-5">
    <h3>Contacto</h3>
    <p>123 Calle de las Joyas, Ciudad, Estado, Código Postal</p>
    <p>Teléfono: 123-456-7890</p>
    <p>Correo electrónico: info@tusitiojoyero.com</p>
</div> -->
<style>
    footer a:hover {
        color: #0800ff;
    }
    a{
        text-decoration: none;
        margin-right: 20px;
        transition: color .8s;
    }
</style>
