<footer class="flex justify-between text-center text-lg px-10 w-full">
    <div class="mt-5">
        <p>&copy; 2024 AMBeR.</p>
    </div>

    <div class="mt-5">
        <a href="#">Inicio</a>
        <a href="#">Nosotros</a>
        <a href="#">Colecciones</a>
        <a href="#">Contacto</a>
    </div>
</footer>
<!-- <div class="mt-5">
    <h3>Contacto</h3>
    <p>123 Calle de las Joyas, Ciudad, Estado, Código Postal</p>
    <p>Teléfono: 123-456-7890</p>
    <p>Correo electrónico: info@tusitiojoyero.com</p>
</div> -->
<style>
    footer a:hover {
        color: #0800ff;
    }
    a{
        text-decoration: none;
        margin-right: 20px;
        transition: color .8s;
    }
</style>
