
    <figure class="flex items-end justify-start ">
        <div 
            class=" absolute laptop:min-w-[800px] text-box bg-[#e7bcb8] text-white ">
            <h2 class="date text-sm">
                18 DEC 2022
            </h2>
            <h2 class="other-font text-3xl tablet:text-4xl laptop:text-5xl">
                NUEVO EN: AMBER
                <br>
                CADENAS
            </h2>
            <hr class="my-[10px]"></hr>
            <div class="info flex flex-col tablet:flex-row gap-5 tablet:items-center tablet:justify-between">
                <p class="text-sm text-balance max-w-[340px]">
                    Instintivo, elemental: para los que prefieren la atemporalidad a la tendencia. Que tienen una sensibilidad moderna, pero una reverencia por el pasado.
                </p>
                <a class="" href="#">COMPRA AQUÍ</a>
            </div>
        </div>
    </figure>
    <style>
        .text-box{
            padding: 5%;
            margin: 8%;
            margin-bottom: 20px;
        }
        .date{
            margin:5px 0 15px 0 ;
        }
        .info{
            a{
                text-decoration-line: underline
            }
            a:hover{
                text-decoration-line: none;
            }
        }
        
    </style>