---
const PRODUCTOS = [
    {
        title:"Cadena Amber",
        image:"../../public/img/9.webp",
        price:"80",
        description:"Collar de Diamante",
    },
    {
        title:"Cadena Amber",
        image:"../../public/img/9.webp",
        price:"80",
        description:"Anillo de Diamante",
    },
    {
        title:"Cadena Amber",
        image:"../../public/img/9.webp",
        price:"80",
        description:"Anillo de Diamante",
    },
    {
        title:"Cadena Amber",
        image:"../../public/img/9.webp",
        price:"80",
        description:"Anillo de Diamante",
    },
]
---
<div>

    <article class="mx-auto max-w-[1175px]">
        <h2 class="mx-auto other-font text-2xl tablet:text-4xl laptop:text-6xl ">COMPRA AHORA</h2>
        <p class="p-2 ">
            Lorem ipsum dolor sit 
            onsectetur, adipielit.
        </p>
    </article>
    <hr class="mx-auto my-6 bg-zinc-900  max-w-[0px] laptop:max-w-[1200px] h-px">
    <div class="container-items">
        {
        PRODUCTOS.map(({image, title, price, description, }) => (
        <div class="item">
            <figure>
                <img
                    src={image}     
                    alt={description}
                />
            </figure>
            <div class="info-product">
                <h2>{title}</h2>
                <p class="price">${price}</p>
                <button class="btn-add-cart">
                    COMPRAR
                </button>
            </div>
        </div>
            ))
        }
    </div>
</div>
<style>
    .container-items{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
        gap: 30px;
        max-width: 1200px;
        margin: 40px auto;
        padding: 20px;
    }
    .item{
        max-width:347px ;
        border-radius: 10px;
        margin: 30px 0;
        
    }
    .item:hover{
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    }
    .item img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
        transition: all .5s;
    }
    .item figure{
        overflow: hidden;
    }
    .item:hover img{
        transform: scale(1.2);
    }
    .info-product{
        padding: 10px 20px;
        line-height: 2;     
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .info-product button{
        border: none;
        background: none;
        background-color: #000;
        color: #fff;
        border-radius: 10px;
        padding: 5px 2.5px;
        cursor: pointer;
    }
</style>