---
import Layout from "./Layout.astro";

export interface Props {
  title?: string;
  message?: string;
}

Astro.response.status = 404;

const defaultTitle = "Page not found";

const { title = defaultTitle, message = defaultTitle } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
</head>
<body>
  <div class="container grid mx-auto py-44 text-center">
    <span class="text-6xl font-bold text-blue-900">404</span>
    <h1 class="mt-4 text-xl">{message}</h1>
    <a
      href="/"
      class="mt-6 font-semibold text-emerald-900 hover:text-blue-700"
    >
      Regresar al Inicio
      <span aria-hidden="true"> &rarr;</span>
    </a>
  </div>
</body>
</html>